# Ignore everything in the root
/*
/.env

# Un-ignore these files - it's bit of a clonky way to do it but it's more secure
!.env.example
!.gitignore
!go.mod
!admin.go
!app.go
!go.sum
!middleware.go
!docker-compose.yml
!Dockerfile
!routes.go
!models.go
!databases.go
!helpers.go
!handlers.go
!utils/utils.go
!README.md
!LICENSE
!aws_handlers.go
!awsutil/aws_admin.go