# Ignore everything in the root
/*
/.env

# Un-ignore these files - it's bit of a clonky way to do it but it's more secure
!.env.example
!.gitignore
!go.mod
!app/admin.go
!app/app.go
!go.sum
!app/middleware.go
!docker-compose.yml
!Dockerfile
!app/routes.go
!app/models.go
!app/databases.go
!app/helpers.go
!app/handlers.go
!utils/utils.go
!README.md
!LICENSE
!app/aws_handlers.go
!awsutil/aws_admin.go
!app/command_runner.go
!.github/workflows/api-tests.yml
!testutils/*
!tests/*
!testutils/fixtures/
!testutils/fixtures/**